body {
  margin: 0%;
  background-color: rgb(221, 217, 217);
  font-family: 'Roboto', sans-serif;
}

.contenedor {
  background-color: rgb(122, 120, 120);
  margin: 0%;
  height: 80px;
  box-shadow: rgb(212, 221, 132) 1px 1px 1px 1px;
}

 h1{
  margin: 0%;
  padding-top: 23px;
  margin-left: 10px;
  font-size: 40px;
}

.mititulos{
  font-size: 25px;
  text-align: center;
}

p{
 color: black;
 font-size: 20px;
 margin-left: 47px;
}

 .imagenes-contenedor{
   background-color: rgb(235, 232, 232);
   height: auto;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-wrap: wrap;
   border-radius: 10px;
   border-style: solid;
   border-width: 1px;
   flex-wrap: wrap;
   box-shadow: rgb(204, 93, 93) 1px 1px 1px 1px;
}

 .con-imagen {
   background-color: rgb(235, 15, 15);
   width: 40%;
   height: 400px;
   border-radius: 10px;
}

.contenedor-de-texto {
  background-color: rgb(235, 232, 232);
  width: 58%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.lectura {
  background-color: rgb(184, 184, 171);
  margin-top: 8px;
  height: 250px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: red 1px 1px 1px 1px;
  padding-right: 30px;
}

.navegacion {
  background-color: rgb(224, 211, 211 );
  margin-top: 8px;
  height: 130px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  margin: 0px;
  box-shadow: red 1px 1px 1px 1px;
}

 .contenedor-naegacion{
  background-color: grey;
  height: 70px;
  width: 190px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: red 1px 1px 1px 1px;
}

.precio{
  background-color: rgb(90, 90, 221);
  height: 70px;
  width: 190px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: rgb(204, 93, 93) 1px 1px 1px 1px;
}

.etiqueta-n{
  background-color: rgb(90, 90, 221);
  margin-left: auto;
  margin-left: auto;
  height: 70px;
  width: 190px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-decoration: none;
  box-shadow: rgb(204, 93, 93) 1px 1px 1px 1px;
}

.precio:hover{
  border-style: solid;
  border-color: black;
}
.etiqueta-n:hover{
  border-style: solid;
  border-color: black;
}

.imagen-mas-grande{
   width: 100%;
   height: 400px;
   border-radius: 10px;
   border-style: solid;
   border-width: 1px;
   box-shadow: rgb(204, 93, 93) 1px 1px 1px 1px;
}

footer {
  background-color: rgb(107, 106, 106);
  width: 100%;
  height: auto;
  box-shadow: rgb(204, 93, 93) 1px 1px 1px 1px;
}

.contenedor-footer{
  height: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

/*este va ser el media cueri para celular*/

@media (max-width: 850px){
  body{
    margin: 0%;
  }
  img{
    width: 100%;
    
  }
  
 .con-imagen{
  width: 100%;
 }
  
  .contenedor-de-texto {
    width: 100%;
    height: auto;
  }
  .lectura{
    height: 150px;
  }
  .navegacion {
    height: 100px;
  }
  .lectura{
    height: auto;
  }
}

/*este va ser el media cueri para celular*/

@media (max-width: 585px){
  .imagenes-contenedor{
    width: 99%;
  }
  .etiqueta-n{
    height: 60px;
    width: 180px;
  }
  .precio{
    height: 60px;
    width: 180px;
  }
}
/* este va ser el media cueri para celular*/
.contenedor-pies-pagina{
  background-color: rgb(231, 141, 198);
  width: 100%;
  height: auto;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgb(63, 37, 37) 1px 1px 1px 1px;
}

.tama単o-de-div{
  background-color: rgb(41, 40, 40);
  width: 190px;
  height: auto;
  border-style: solid;
  border-width: 1px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px ;
  background-color: rgb(158, 140, 175);
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgb(59, 59, 59) 1px 1px 1px 1px;
}

.tama単o-imagenes {
  width: 190px;
  height: 177px;
  border-radius: 10px 10px 0px 0px;
}

.arreglo{
  background-color: rgb(108, 108, 228);
  width: 99px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 12px;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

a{
  text-decoration: none;
}

.arreglo:hover{
  border-style: solid;
  border-width: 2px;
}

/*media cueri para celulares*/


@media (max-width: 490px){

.imagenes-contenedor{
  width: 99%;
}

.con-imagen{
  height: 280px;
}
.imagen-mas-grande{
  height: 280px;
}

.tama単o-de-div{
  width: 165px;
}

.tama単o-imagenes{
  width: 165px;
}
.etiqueta-n{
  height: 60px;
  width: 170px;
}
.precio{
  height: 60px;
  width: 170px;
}
}

